body {
	font-family: 'Lato', sans-serif;
  color:#A6A6A6;
}
h1, h2 {
	text-align:center;
	color:#A6A6A6;
}

a {
	text-decoration: none;
  color:#A6A6A6;
}
.nav{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:10px;
  color: #bfbfbf;
}

.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}

iframe {
  margin-left: 0;
}

.grid {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.grid-item {
	padding: 0 10px;
	width: 250px;
}

.grid-item-space-below {
	padding: 10px 10px;
}
