body {
	font-family: 'Lato', sans-serif;
  color:#A6A6A6;
}
h1, h2 {
	text-align:center;
	color:#A6A6A6;
}
h1{
    font-size: 2em;
    font-weight: 100; 
    margin: 0 !important;
    padding:0.5% 0 2% 0;
}
h2 {
	font-size: 1.5em;
	font-weight: 100; 
}
a {
  text-decoration: none;
  color:#A6A6A6;
}
a:hover {
	color: #363636;
}
p {
	text-align: center;
	padding-top: -3px;
}
#pager{
	text-align: center;
	padding-top: 0.8%;
	font-size: 0.8em;
}
.nav{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:10px;
  color: #bfbfbf;
}

.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}

iframe {
  margin-left: 0;
}

.grid {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.grid-item {
	width: 250px;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-item-space-below {
	padding-top: 10px;
	padding-bottom: 10px;
}
